.list_container {
  max-width: 100%;
  margin: 0 0 0 40px;
}

.parent {
  display: flex;
  justify-content: space-between;
}

.child {
  max-width: 100%;
}

.list_wrapper {
  justify-content: space-between;
  margin-top: 15px;
  min-height: 40px;
  font-size: 1.5rem;
}

.move_btns_block {
  display: inline-block;
  width: 40px;
}

.move_btn {
  width: 100%;
  height: 50%;
  padding: 0;
  background-color: rgb(69, 95, 241);
  border: none;
}

.edit_btns {
  display: flex;
  flex-direction: row;
}

.remove_btn {
  height: 100%;
  background-color: rgb(255, 142, 77);
  border: none;
}

.remove_btn:hover {
  background-color: rgb(238, 115, 58);
}

.remove_sub_btn {
  margin-top: 10px;
  color: white;
  height: 30px;
  border: none;
  background-color: rgb(255, 142, 77);
  font-size: 16px;
  font-weight: 500;
}

.remove_sub_btn:hover {
  background-color: rgb(238, 115, 58);
}

.remove_btn img {
  height: 50%;
}

.add_btn {
  align-items: center;
  height: 100%;
  background-color: rgb(0, 252, 176);
  border: none;
  font-size: 20px;
  font-weight: 600;
}

.add_btn:hover {
  background-color: rgb(14, 170, 123);
}

.img_down {
  transform: rotate(180deg);
}

.move_btn:disabled {
  background-color: rgba(69, 95, 241, 0.267);
}

.text {
  min-height: 100%;
  width: 100%;
  padding: 0 10px;
  flex: 1 1 auto;
  background-color: white;
}
