

.wrapper{
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: linear-gradient(0.25turn, #5eacf5, #44f3ea);
}

.note_list{
  min-width: 50%;
  padding-right: 15px;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
}

button{
  cursor: pointer;
}

button:disabled{
  cursor: default;
}
